<html lang="en">

<%- include('./partial/header.ejs') %>

    <body>

        <%- include('./partial/nav.ejs') %>

            <div class="about content">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sed blanditiis dicta.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sed blanditiis dicta.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sed blanditiis dicta.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sed blanditiis dicta.</p>
            </div>

            <%- include('./partial/footer.ejs') %>

    </body>

</html>